.hero-parallax-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-parallax-slider .bg-layer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity 1.7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-parallax-slider .bg-layer.show {
    opacity: 1;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    color: #fff;
    max-width: 900px;
}

.hero-content h1 {
    font-size: 3.5rem;
}

.hero-content p {
    font-size: 1.3rem;
}
/**/
.hero-title {
    background-color: rgba(0, 31, 77, 0.9); /* #001f4d dengan opacity 90% */
    padding: 10px 20px;
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 2rem;
    color: #ffc107;
    background-color: rgba(255, 165, 0, 0.9); /* orange 90% opacity */
    display: inline-block;
    padding: 5px 15px;
    margin-top: 10px;
    width: fit-content; /* mengikuti lebar teks title */
    border-radius: 40px;
}

.hero-title, .hero-subtitle, .hero-btn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.hero-slide::before {
    content: "";
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.35);
    z-index:1;
}
.hero-title, .hero-subtitle {
    position: relative;
    z-index:2;
}
.bg-layer.show .hero-title {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}
.bg-layer.show .hero-subtitle {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

/**/
@media(max-width:768px) {
    .hero-content h1 { font-size: 2.2rem; }
    .hero-content h2 { font-size: 1rem; }
}
